In [ ]:
# Check GPU version
!nvidia-smi

In [ ]:
# Check CUDA/cuDNN Version
!nvcc -V && which nvcc

In [ ]:
# install packages
!pip install catboost
!pip install xgboost
!pip install pycaret[full]
!pip install wandb

In [ ]:
# 即時監控colab資源
import wandb

# connect with jim107225017/colab/20210526
wandb.init(project='colab', entity='jim107225017', name='CPU_GPU', id='20210526')

In [ ]:
# install lightgbm GPU in colab
# 先登入google cloud
from google.colab import drive
drive.mount('/content/drive')

!pip uninstall lightgbm -y
!git clone --recursive https://github.com/Microsoft/LightGBM
!cd LightGBM && rm -rf build && mkdir build && cd build && cmake -DUSE_GPU=1 ../../LightGBM && make -j4 && cd ../python-package && python3 setup.py install --precompile --gpu

In [2]:
# import packages
import os
import numpy as np
import pandas as pd

# Pycaret
from pycaret.classification import *

import catboost
import lightgbm
import xgboost

from sklearn.metrics import log_loss
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
from joblib import load, dump

def check_gpu_support():
    try:
        data = np.random.rand(1000, 10)
        label = np.random.randint(2, size=1000)
        train_data = lightgbm.Dataset(data, label=label)
        params = {'device': 'gpu'}
        gbm = lightgbm.train(params, train_set=train_data)
        return True
    except Exception as e:
        return False

print(check_gpu_support())

[LightGBM] [Info] This is the GPU trainer!!
[LightGBM] [Info] Total Bins 2550
[LightGBM] [Info] Number of data points in the train set: 1000, number of used features: 10
[LightGBM] [Info] Using GPU Device: Intel(R) UHD Graphics, Vendor: Intel(R) Corporation
[LightGBM] [Info] Compiling OpenCL Kernel with 256 bins...
[LightGBM] [Info] GPU programs have been built
[LightGBM] [Info] Size of histogram bin entry: 8
[LightGBM] [Info] 10 dense feature groups (0.01 MB) transferred to GPU in 0.000892 secs. 0 sparse feature groups
[LightGBM] [Info] Start training from score 0.487000
True

In [3]:
# # connect with Google Cloud
# from google.colab import drive
# drive.mount('/content/drive')
# path = "/content/drive/My Drive/colab/TPS May"
path = r'C:\Users\Chen\Desktop\Kaggle\Classifier\Tabular Playground Series - Jun 2021'
os.chdir(path)

In [4]:
# load data
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [5]:
df_train.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,feature_34,feature_35,feature_36,feature_37,feature_38,feature_39,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,feature_50,feature_51,feature_52,feature_53,feature_54,feature_55,feature_56,feature_57,feature_58,feature_59,feature_60,feature_61,feature_62,feature_63,feature_64,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,target
0,0,0,0,6,1,0,0,0,0,7,0,0,0,3,0,1,0,0,3,3,1,0,2,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,11,0,0,0,0,0,9,0,0,0,0,0,0,3,0,1,3,0,0,0,0,0,0,0,1,1,0,0,3,0,0,0,0,0,0,2,0,0,Class_6
1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,0,0,1,0,Class_6
2,2,0,0,0,0,0,1,0,3,0,0,1,0,0,0,0,0,0,0,0,5,4,0,0,0,0,0,0,0,0,1,0,0,0,0,2,0,0,5,0,5,0,1,0,0,0,1,0,0,1,0,7,0,1,1,0,3,4,0,0,1,3,0,2,0,0,8,0,0,0,0,1,0,0,0,0,Class_2
3,3,0,0,7,0,1,5,2,2,0,1,2,0,5,0,0,4,0,0,22,2,1,0,0,0,0,3,0,37,0,1,3,13,0,10,0,3,1,1,0,7,0,0,2,0,1,0,0,0,0,0,0,10,0,0,25,1,0,1,2,0,2,0,7,0,0,0,0,4,0,2,2,0,4,3,0,Class_8
4,4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,2,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Class_2

In [6]:
# Imbalance
df_train['target'].value_counts()

Class_6    51811
Class_8    51763
Class_9    25542
Class_2    24431
Class_3    14798
Class_7    14769
Class_1     9118
Class_4     4704
Class_5     3064
Name: target, dtype: int64

In [7]:
all_data = pd.concat([df_train, df_test]).reset_index(drop=True)
all_data.drop(['id'], axis=1, inplace=True)

In [8]:
# # Check missing value
# print(all_data.isnull().sum())

# 敘述統計量
# print(all_data.describe())

# Check category features or numerical features
# print(all_data.nunique())

In [9]:
num_col = [i for i in all_data.columns if i not in ['id', 'target']]
cat_col = []
target_col = 'target'
comb = num_col + cat_col + [target_col]

# transform
scaler = MinMaxScaler()
all_data[num_col] = pd.DataFrame(scaler.fit_transform(all_data[num_col]), columns=num_col)

# Label Y
le = LabelEncoder()
y = le.fit_transform(df_train[target_col])

In [10]:
# split train and test
df_train = all_data[:len(df_train)]
df_train[target_col] = y.astype('int64')

df_test = all_data[len(df_train):]
df_test[target_col] = np.int64(0)

In [11]:
# Set-Up
PROJECT_NAME = 'pycaret-20210602'
SEED = 20210602

setup(data = df_train[comb],
      categorical_features=cat_col,
      numeric_features=num_col,
      imputation_type='iterative',
      target = target_col,
      train_size=1.0,
      test_data=df_test,
      data_split_shuffle=True,
      data_split_stratify=True,
      fold = 5,
      fold_strategy='stratifiedkfold',   # or 'kfold', 'stratifiedkfold', 'groupkfold', 'timeseries'
      fold_shuffle = True,
      n_jobs=-1,
      use_gpu = True,
      session_id=SEED,   # seed
      silent = True)

(False,
 None,
         feature_0  feature_1  feature_2  feature_3  feature_4  feature_5  \
 200000   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
 200001   0.016393   0.039216   0.000000   0.000000   0.000000   0.000000
 200002   0.000000   0.019608   0.109375   0.014286   0.000000   0.000000
 200003   0.000000   0.000000   0.000000   0.057143   0.078947   0.013158
 200004   0.000000   0.000000   0.078125   0.000000   0.000000   0.000000
 ...           ...        ...        ...        ...        ...        ...
 299995   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
 299996   0.000000   0.000000   0.000000   0.000000   0.000000   0.013158
 299997   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
 299998   0.000000   0.000000   0.000000   0.000000   0.052632   0.026316
 299999   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000

         feature_6  feature_7  feature_8  feature_9  ...  feature_65  \
 200000   0.000000        0.0   0.000000   0.000000  ...    0.000000
 200001   0.000000        0.0   0.000000   0.000000  ...    0.055556
 200002   0.000000        0.0   0.157895   0.000000  ...    0.055556
 200003   0.000000        0.0   0.000000   0.000000  ...    0.000000
 200004   0.000000        0.0   0.000000   0.111111  ...    0.000000
 ...           ...        ...        ...        ...  ...         ...
 299995   0.000000        0.0   0.000000   0.000000  ...    0.000000
 299996   0.000000        0.0   0.000000   0.000000  ...    0.000000
 299997   0.000000        0.0   0.000000   0.000000  ...    0.000000
 299998   0.000000        0.0   0.026316   0.000000  ...    0.018519
 299999   0.139535        0.0   0.026316   0.152778  ...    0.000000

         feature_66  feature_67  feature_68  feature_69  feature_70  \
 200000    0.000000    0.000000    0.000000         0.0    0.000000
 200001    0.041667    0.037975    0.000000         0.0    0.000000
 200002    0.000000    0.000000    0.000000         0.0    0.044776
 200003    0.000000    0.000000    0.018182         0.0    0.000000
 200004    0.000000    0.000000    0.000000         0.0    0.000000
 ...            ...         ...         ...         ...         ...
 299995    0.000000    0.000000    0.000000         0.0    0.000000
 299996    0.000000    0.000000    0.000000         0.0    0.000000
 299997    0.000000    0.012658    0.000000         0.0    0.000000
 299998    0.000000    0.000000    0.000000         0.0    0.014925
 299999    0.083333    0.000000    0.000000         0.0    0.000000

         feature_71  feature_72  feature_73  feature_74
 200000         0.0    0.000000    0.000000    0.000000
 200001         0.0    0.049180    0.000000    0.000000
 200002         0.0    0.032787    0.000000    0.000000
 200003         0.0    0.065574    0.000000    0.000000
 200004         0.0    0.000000    0.007692    0.000000
 ...            ...         ...         ...         ...
 299995         0.0    0.000000    0.000000    0.000000
 299996         0.0    0.000000    0.000000    0.000000
 299997         0.0    0.000000    0.000000    0.038462
 299998         0.0    0.016393    0.000000    0.000000
 299999         0.0    0.000000    0.000000    0.000000

 [100000 rows x 75 columns],
 200000    0
 200001    0
 200002    0
 200003    0
 200004    0
          ..
 299995    0
 299996    0
 299997    0
 299998    0
 299999    0
 Name: target, Length: 100000, dtype: int64,
 None,
 [],
 False,
 'd5ac',
 5,
 LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
                device='gpu', importance_type='split', learning_rate=0.1,
                max_depth=-1, min_child_samples=20, min_child_weight=0.001,
                min_split_gain=0.0, n_estimators=100, n_jobs=-1, num_leaves=31,
                objective=None, random_state=20210602, reg_alpha=0.0,
                reg_lambda=0.0, silent=True, subsample=1.0,
                subsample_for_bin=200000, subsample_freq=0),
 <MLUsecase.CLASSIFICATION: 1>,
 {'parameter': 'Hyperparameters',
  'auc': 'AUC',
  'confusion_matrix': 'Confusion Matrix',
  'threshold': 'Threshold',
  'pr': 'Precision Recall',
  'error': 'Prediction Error',
  'class_report': 'Class Report',
  'rfe': 'Feature Selection',
  'learning': 'Learning Curve',
  'manifold': 'Manifold Learning',
  'calibration': 'Calibration Curve',
  'vc': 'Validation Curve',
  'dimension': 'Dimensions',
  'feature': 'Feature Importance',
  'feature_all': 'Feature Importance (All)',
  'boundary': 'Decision Boundary',
  'lift': 'Lift Chart',
  'gain': 'Gain Chart',
  'tree': 'Decision Tree'},
 5,
 0         5
 1         5
 2         1
 3         7
 4         1
          ..
 199995    5
 199996    5
 199997    7
 199998    6
 199999    7
 Name: target, Length: 200000, dtype: int32,
 True,
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=['feature_0',
                                                           'feature_1',
                                                           'feature_2',
                                                           'feature_3',
                                                           'feature_4',
                                                           'feature_5',
                                                           'feature_6',
                                                           'feature_7',
                                                           'feature_8',
                                                           'feature_9',
                                                           'feature_10',
                                                           'feature_11',
                                                           'feature_12',
                                                           'featur...
                 ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                 ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='target')),
                 ('fix_perfect', Remove_100(target='target')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough')],
          verbose=False),
 True,
 0         5
 1         5
 2         1
 3         7
 4         1
          ..
 199995    5
 199996    5
 199997    7
 199998    6
 199999    7
 Name: target, Length: 200000, dtype: int64,
 1,
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x1ef808d3488>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x1ef808b8ec8>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x1ef809aef08>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x1ef809aedc8>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x1ef809ae6c8>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x1ef809ae948>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x1ef8093fb08>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x1ef808679c8>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x1ef81c68bc8>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x1ef809aecc8>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x1ef49867b48>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x1ef81c64a08>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x1ef809ae688>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x1ef81c68688>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x1ef81c68488>,
  'xgboost': <pycaret.containers.models.classification.XGBClassifierContainer at 0x1ef81c7a0c8>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x1ef809a9e88>,
  'catboost': <pycaret.containers.models.classification.CatBoostClassifierContainer at 0x1ef81c7ad88>,
  'Bagging': <pycaret.containers.models.classification.BaggingClassifierContainer at 0x1ef80997508>,
  'Stacking': <pycaret.containers.models.classification.StackingClassifierContainer at 0x1ef80997f08>,
  'Voting': <pycaret.containers.models.classification.VotingClassifierContainer at 0x1ef808cc948>,
  'CalibratedCV': <pycaret.containers.models.classification.CalibratedClassifierCVContainer at 0x1ef808ccdc8>},
 -1,
 False,
 [],
 LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               device='gpu', importance_type='split', learning_rate=0.1,
               max_depth=-1, min_child_samples=20, min_child_weight=0.001,
               min_split_gain=0.0, n_estimators=100, n_jobs=-1, num_leaves=31,
               objective=None, random_state=20210602, reg_alpha=0.0,
               reg_lambda=0.0, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0),
 'box-cox',
 20210602,
         feature_0  feature_1  feature_2  feature_3  feature_4  feature_5  \
 0        0.000000   0.000000   0.093750   0.014286   0.000000   0.000000
 1        0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
 2        0.000000   0.000000   0.000000   0.000000   0.000000   0.013158
 3        0.000000   0.000000   0.109375   0.000000   0.026316   0.065789
 4        0.016393   0.000000   0.000000   0.000000   0.000000   0.000000
 ...           ...        ...        ...        ...        ...        ...
 199995   0.000000   0.019608   0.093750   0.000000   0.026316   0.421053
 199996   0.000000   0.039216   0.000000   0.000000   0.026316   0.000000
 199997   0.016393   0.039216   0.000000   0.000000   0.000000   0.026316
 199998   0.000000   0.000000   0.031250   0.000000   0.052632   0.013158
 199999   0.081967   0.078431   0.000000   0.142857   0.000000   0.013158

         feature_6  feature_7  feature_8  feature_9  ...  feature_65  \
 0        0.000000   0.000000   0.184211   0.000000  ...    0.055556
 1        0.000000   0.000000   0.000000   0.000000  ...    0.000000
 2        0.000000   0.100000   0.000000   0.000000  ...    0.148148
 3        0.046512   0.066667   0.000000   0.013889  ...    0.000000
 4        0.000000   0.000000   0.000000   0.000000  ...    0.000000
 ...           ...        ...        ...        ...  ...         ...
 199995   0.000000   0.200000   0.000000   0.000000  ...    0.018519
 199996   0.000000   0.000000   0.000000   0.000000  ...    0.000000
 199997   0.000000   0.033333   0.210526   0.055556  ...    0.074074
 199998   0.000000   0.000000   0.078947   0.013889  ...    0.000000
 199999   0.000000   0.000000   0.315789   0.027778  ...    0.037037

         feature_66  feature_67  feature_68  feature_69  feature_70  \
 0         0.000000    0.000000    0.000000    0.000000    0.000000
 1         0.083333    0.000000    0.000000    0.000000    0.000000
 2         0.000000    0.000000    0.000000    0.000000    0.014925
 3         0.000000    0.050633    0.000000    0.030769    0.029851
 4         0.000000    0.000000    0.000000    0.000000    0.000000
 ...            ...         ...         ...         ...         ...
 199995    0.000000    0.012658    0.018182    0.000000    0.000000
 199996    0.000000    0.000000    0.000000    0.000000    0.000000
 199997    0.041667    0.000000    0.018182    0.015385    0.014925
 199998    0.000000    0.000000    0.054545    0.030769    0.014925
 199999    0.000000    0.000000    0.036364    0.015385    0.000000

         feature_71  feature_72  feature_73  feature_74
 0              0.0    0.032787    0.000000    0.000000
 1              0.0    0.000000    0.007692    0.000000
 2              0.0    0.000000    0.000000    0.000000
 3              0.0    0.065574    0.023077    0.000000
 4              0.0    0.000000    0.000000    0.000000
 ...            ...         ...         ...         ...
 199995         0.0    0.065574    0.007692    0.000000
 199996         0.0    0.000000    0.000000    0.000000
 199997         0.0    0.016393    0.000000    0.000000
 199998         0.0    0.000000    0.007692    0.000000
 199999         0.0    0.032787    0.023077    0.019231

 [200000 rows x 75 columns],
 [('Setup Config',
                                  Description  \
   0                               session_id
   1                                   Target
   2                              Target Type
   3                            Label Encoded
   4                            Original Data
   5                           Missing Values
   6                         Numeric Features
   7                     Categorical Features
   8                         Ordinal Features
   9                High Cardinality Features
   10                 High Cardinality Method
   11                   Transformed Train Set
   12                    Transformed Test Set
   13                      Shuffle Train-Test
   14                     Stratify Train-Test
   15                          Fold Generator
   16                             Fold Number
   17                                CPU Jobs
   18                                 Use GPU
   19                          Log Experiment
   20                         Experiment Name
   21                                     USI
   22                         Imputation Type
   23          Iterative Imputation Iteration
   24                         Numeric Imputer
   25      Iterative Imputation Numeric Model
   26                     Categorical Imputer
   27  Iterative Imputation Categorical Model
   28           Unknown Categoricals Handling
   29                               Normalize
   30                        Normalize Method
   31                          Transformation
   32                   Transformation Method
   33                                     PCA
   34                              PCA Method
   35                          PCA Components
   36                     Ignore Low Variance
   37                     Combine Rare Levels
   38                    Rare Level Threshold
   39                         Numeric Binning
   40                         Remove Outliers
   41                      Outliers Threshold
   42                Remove Multicollinearity
   43             Multicollinearity Threshold
   44                              Clustering
   45                    Clustering Iteration
   46                     Polynomial Features
   47                       Polynomial Degree
   48                    Trignometry Features
   49                    Polynomial Threshold
   50                          Group Features
   51                       Feature Selection
   52                Feature Selection Method
   53            Features Selection Threshold
   54                     Feature Interaction
   55                           Feature Ratio
   56                   Interaction Threshold
   57                           Fix Imbalance
   58                    Fix Imbalance Method

                                                   Value
   0                                            20210602
   1                                              target
   2                                          Multiclass
   3   0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7...
   4                                        (200000, 76)
   5                                               False
   6                                                  75
   7                                                   0
   8                                               False
   9                                               False
   10                                               None
   11                                       (200000, 75)
   12                                       (100000, 75)
   13                                               True
   14                                               True
   15                                    StratifiedKFold
   16                                                  5
   17                                                 -1
   18                                               True
   19                                              False
   20                                   clf-default-name
   21                                               d5ac
   22                                          iterative
   23                                                  5
   24                                               mean
   25                    Light Gradient Boosting Machine
   26                                           constant
   27                    Light Gradient Boosting Machine
   28                                     least_frequent
   29                                              False
   30                                               None
   31                                              False
   32                                               None
   33                                              False
   34                                               None
   35                                               None
   36                                              False
   37                                              False
   38                                               None
   39                                              False
   40                                              False
   41                                               None
   42                                              False
   43                                               None
   44                                              False
   45                                               None
   46                                              False
   47                                               None
   48                                              False
   49                                               None
   50                                              False
   51                                              False
   52                                            classic
   53                                               None
   54                                              False
   55                                              False
   56                                               None
   57                                              False
   58                                              SMOTE  ),
  ('X_training Set',
           feature_0  feature_1  feature_2  feature_3  feature_4  feature_5  \
   0        0.000000   0.000000   0.093750   0.014286   0.000000   0.000000
   1        0.000000   0.000000   0.000000   0.000000   0.000000   0.000000
   2        0.000000   0.000000   0.000000   0.000000   0.000000   0.013158
   3        0.000000   0.000000   0.109375   0.000000   0.026316   0.065789
   4        0.016393   0.000000   0.000000   0.000000   0.000000   0.000000
   ...           ...        ...        ...        ...        ...        ...
   199995   0.000000   0.019608   0.093750   0.000000   0.026316   0.421053
   199996   0.000000   0.039216   0.000000   0.000000   0.026316   0.000000
   199997   0.016393   0.039216   0.000000   0.000000   0.000000   0.026316
   199998   0.000000   0.000000   0.031250   0.000000   0.052632   0.013158

In [12]:
# GPU Enable
# models(internal=True)[['Name', 'GPU Enabled']]

In [13]:
# check all metrics used for model evaluation
# print(get_metrics())

# add Log Loss metric in pycaret
add_metric('logloss', 'LogLoss', log_loss, target='pred_proba', greater_is_better=False)

Name                                                           LogLoss
Display Name                                                   LogLoss
Score Function               <function log_loss at 0x000001EF4225CF78>
Scorer               make_scorer(log_loss, greater_is_better=False,...
Target                                                      pred_proba
Args                                                                {}
Greater is Better                                                False
Multiclass                                                        True
Custom                                                            True
Name: logloss, dtype: object

In [14]:
top6 = compare_models(exclude=['catboost'],   #catboost不能 tune_model
                      sort='Accuracy',   # or ['Accuracy', 'AUC', 'Recall', 'Precision', 'F1', 'Kappa', 'MCC']
                      n_select=6,
                      cross_validation=True,
                      budget_time=10*60,   # in minutes
                     )

In [15]:
# Tune Top 6 models
tuned_top6 = [tune_model(i, n_iter=10, search_library="optuna", search_algorithm="tpe") for i in top6]

In [16]:
# stacking
stacker = stack_models(estimator_list = tuned_top6[1:], meta_model=tuned_top6[0])

In [17]:
# blending
blender = blend_models(tuned_top6)

In [19]:
# select best model 
best = automl(optimize = 'Accuracy')
print(best)

StackingClassifier(cv=StratifiedKFold(n_splits=5, random_state=20210602, shuffle=True),
                   estimators=[('lightgbm',
                                LGBMClassifier(bagging_fraction=0.6562017395042332,
                                               bagging_freq=2,
                                               boosting_type='gbdt',
                                               class_weight=None,
                                               colsample_bytree=1.0,
                                               device='gpu',
                                               feature_fraction=0.4253723720487174,
                                               importance_type='split',
                                               learning_rate=0.05684321254283615,
                                               max_dept...
                                                              min_impurity_decrease=9.817071798033433e-06,
                                                              min_impurity_split=None,
                                                              min_samples_leaf=2,
                                                              min_samples_split=7,
                                                              min_weight_fraction_leaf=0.0,
                                                              n_estimators=232,
                                                              n_iter_no_change=None,
                                                              presort='deprecated',
                                                              random_state=20210602,
                                                              subsample=0.8555050057698026,
                                                              tol=0.0001,
                                                              validation_fraction=0.1,
                                                              verbose=0,
                                                              warm_start=False),
                   n_jobs=1, passthrough=True, stack_method='auto', verbose=0)

In [20]:
# save best, stacking, blending and top6 model
save_model(best, model_name=PROJECT_NAME)
save_model(stacker, model_name=PROJECT_NAME + '_stacking')
save_model(blender, model_name=PROJECT_NAME + '_blending')
save_model(tuned_top6, model_name=PROJECT_NAME + '_top6')

Transformation Pipeline and Model Succesfully Saved
Transformation Pipeline and Model Succesfully Saved
Transformation Pipeline and Model Succesfully Saved
Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=['feature_0',
                                                           'feature_1',
                                                           'feature_2',
                                                           'feature_3',
                                                           'feature_4',
                                                           'feature_5',
                                                           'feature_6',
                                                           'feature_7',
                                                           'feature_8',
                                                           'feature_9',
                                                           'feature_10',
                                                           'feature_11',
                                                           'feature_12',
                                                           'featur...
                                        class_weight={}, criterion='gini',
                                        max_depth=8,
                                        max_features=0.4961625125445236,
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=2.6518552681382187e-06,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=7,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=168, n_jobs=-1,
                                        oob_score=False, random_state=20210602,
                                        verbose=0, warm_start=False)]]],
          verbose=False),
 'pycaret-20210602_top6.pkl')

In [21]:
# load best model
best = load_model(PROJECT_NAME)

Transformation Pipeline and Model Successfully Loaded

In [22]:
# predict probability
result = predict_model(best, data=df_test, raw_score=True)

In [28]:
# submission
sub = pd.read_csv('sample_submission.csv')
sub[sub.columns[1:]] = result.iloc[:, -9:].values
sub.to_csv(f'{PROJECT_NAME}.csv', index=False)

In [30]:
# load blending model
blender = load_model(PROJECT_NAME + '_blending')

Transformation Pipeline and Model Successfully Loaded

In [ ]:
# predict probability
result = predict_model(blender, data=df_test, raw_score=True)

In [ ]:
# submission
sub = pd.read_csv('sample_submission.csv')
sub[sub.columns[1:]] = result.iloc[:, -9:].values
sub.to_csv(f'{PROJECT_NAME}_blending.csv', index=False)